.hero-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  align-items: center;
  gap: 5rem;
  padding-bottom: 3em;
  margin-bottom: 6rem;
}

.hero-content {
  padding-top: 3em;

  & h1 a {
    text-decoration: none;
    color: var(--color-brand-primary);
    cursor: pointer;
    font-size: var(--step-2);
    font-weight: 300;

    &:hover, &:focus {
      text-decoration: underline;
      font-weight: 300;
    }

    &:visited {
      color: var(--color-brand-primary);
      text-decoration: none;
    }
  }

  @media (max-width: 500px) {
    padding-top: 1em;
  }
}

.hero-content h1 {
  text-transform: uppercase;
}

.hero-content p {
  padding-top: 2em;
  hyphens: auto;
}

.hero-image {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "image image"
    "figcaption navigation";
  gap: 1rem;
}

.hero-carousel {
  grid-area: image;
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  border: 1px solid var(--color-text-secondary);
}

.carousel-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.carousel-image.active {
  opacity: 1;
}

.hero-fitcaption {
  grid-area: figcaption;
  margin-top: 0;
  font-size: var(--step--2);
  color: var(--color-text-secondary);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hero-fitcaption h3 {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.hero-fitcaption p {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.hero-navigation {
  grid-area: navigation;
  display: flex;
  gap: 0.5rem;
}

.hero-arrow {
  background: none;
  border: 1px solid var(--color-brand-primary);
  color: var(--color-brand-primary);
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.4em 0.8em;
  transition: all 0.2s ease;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: var(--step--2);
}

.hero-arrow:hover {
  background-color: var(--color-brand-primary);
  color: var(--color-surface-light);
}

/* news styles */

.news-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "title ."
    ". content";
  gap: 1em;
  padding-bottom: 3em;
  padding-top: 4rem;
  border-top: 1px solid var(--color-text-secondary);
}

.news-title {
  grid-area: title;
  border-bottom: 1px solid var(--color-text-secondary);
  text-transform: uppercase;
}

.news-content {
  grid-area: content;
}

@media (max-width: 500px) {
  .hero-wrapper {
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-bottom: 1rem;
  }

  .hero-image {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "image"
      "figcaption"
      "navigation";
    gap: 1rem;
  }

  .hero-carousel {
    height: 300px;
  }

  .news-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "title"
      "content";
    padding-top: 2rem; 
  }
}
