.exhibition-images-wrapper {
  container-type: inline-size;
}

.exhibition-image-list-wrapper {
  display: grid;
  gap: var(--gap, 1em);
  grid-template-columns: repeat(2, 1fr);

  @container (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
  }
}

.selected-artworks-wrapper {
  margin-bottom: 2rem;
  @media (max-width: 500px) {
    margin-bottom: unset;
  }
}

.exhibition-image-list-text {
  max-width: 60ch;
}

.exhibition-image-card {
  display: grid;
  gap: 1rem;
  
  img {
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;
    object-fit: cover;
  }
  
  figcaption {
    p {
      font-size: var(--step--1);
      color: var(--color-text-secondary);
      line-height: 1.4;
    }
  }
}

.artist-card {
  :has(> &) {
    container-type: inline-size;
  }

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  & .artist-bio {
    grid-column: 1;
  }

  & .artist-image {
    grid-column: 2;
    justify-self: end;
  }

  @container (max-width: 500px) {
    grid-template-columns: 1fr;

    & .artist-bio {
      grid-column: 1;
    }

    & .artist-image {
      grid-column: 1;
      justify-self: start;
    }
  }
}
