<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="robots" content="noindex, nofollow">
    <title>{{ title or "Durban Segnini Gallery" }}</title>
    {#- CSS bundles are provided via the eleventy-plugin-bundle plugin: #}
    {#- 1. You can add to them using `{% css %}` #}
    {#- 2. You can get from them using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}` #}
    {#- Learn more: https://github.com/11ty/eleventy-plugin-bundle #}
    
    {#- Add to the CSS bundle #}
    {%- css %}{% include "src/assets/css/fonts.css" %}{% endcss %}
    {%- css %}{% include "src/assets/css/reset.css" %}{% endcss %}
    {%- css %}{% include "src/assets/css/globals.css" %}{% endcss %}
    {%- css %}{% include "src/assets/css/utilities.css" %}{% endcss %}
    {%- css %}{% include "src/assets/css/layout.css" %}{% endcss %}
    {%- css %}{% include "src/assets/css/header.css" %}{% endcss %}
    {%- css %}{% include "src/assets/css/main.css" %}{% endcss %}
    {%- css %}{% include "src/assets/css/footer.css" %}{% endcss %}
    {%- css %}{% include "src/assets/css/component-events.css" %}{% endcss %}
    {%- css %}{% include "src/assets/css/picker-utility.css" %}{% endcss %}
    {%- css %}{% include "src/assets/css/contact.css" %}{% endcss %}
    
    {#- Add page-specific CSS to bundle if specified #}
    {%- if pageCss %}
      {%- css %}{% include "src/assets/css/pages/" + pageCss %}{% endcss %}
    {%- endif %}
    
    {#- Add Lightbox2 CSS #}
    {%- css %}{% include "src/assets/css/lightbox.css" %}{% endcss %}
    
    {#- Render the CSS bundle #}
    {# Always use external CSS file for better caching #}
    <link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
  </head>
  <body>
    <div class="page-wrapper">
      {% if isHome %}
        {% include "partials/header_home.njk" %}
      {% else %}
        {% include "partials/header.njk" %}
      {% endif %}
        {{ content | safe }}
      {% include "partials/footer.njk" %}
      <script src="{{ '/assets/scripts/mobile-menu.js' }}" defer></script>
      {% if pageScript %}
        <script src="{{ '/assets/scripts/' | url }}{{ pageScript }}" defer></script>
      {% endif %}
      <script src="{{ '/assets/scripts/lightbox-plus-jquery.js' }}" defer></script>
      <script src="{{ '/assets/scripts/auto-lightbox.js' }}" defer></script>
    </div>
  </body>
</html>