main {
  max-width: var(--main-container-width);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
}

@media (max-width: 500px) {
  .main-wrapper {
    padding-left: 1em;
    padding-right: 1em;
  }
}
