---
layout: base.njk
title: Artists
---

<section aria-labelledby="hero-title">
  <div>
    <h1 id="hero-title">Artists</h1>
  </div>
</section>

<!-- ====== ARTISTS GRID ====== -->
<section>
  <div>
    {% for artist in collections.artists %}
    <a href="{{ artist.url }}">
      <article>
        {% if artist.data.portrait %}
        <img src="{{ artist.data.portrait }}" alt="{{ artist.data.name }}" loading="lazy">
        {% else %}
        <div>
          <span>{{ artist.data.name | first | upper }}</span>
        </div>
        {% endif %}
        <div>
          <h3>{{ artist.data.name }}</h3>
          {% if artist.data.year_of_birth %}
          <p>b. {{ artist.data.year_of_birth }}</p>
          {% endif %}
        </div>
      </article>
    </a>
    {% endfor %}
  </div>
</section>
