<header class="site-header-inverted">
  <div class="header-inner maxw">
    <a class="brand" href="index.html" aria-label="Durban Segnini Gallery">
      <img src="assets/svg/LOGO_DS_GALERIA_darkblue.svg" alt="Durban Segnini Gallery" width="320" height="55" decoding="async" />
     </a>
     <nav class="primary-nav" aria-label="Main">
       <a href="artists.html" aria-current="page">artists</a>
       <!-- <a href="exhibitions.html">exhibitions</a> -->
       <!-- <a href="art-fairs">art fairs</a> -->
       <!-- <a href="archive">archive</a> -->
       <a href="gallery.html">the gallery</a>
       <a href="contact">contact us</a>
     </nav>
   </div>
</header>
